---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import BlogPost from '../../layouts/BlogPost.astro';
import TableOfContents from '../../components/TableOfContents.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post
  }));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<BlogPost {...post.data}>
  {headings.length > 0 && <TableOfContents headings={headings} />}
  <Content />
  <a href="https://notbyai.fyi" target="_blank" rel="noopener noreferrer">
    <img
      src="/Written-By-Human-Not-By-AI-Badge-white@2x.png"
      alt="Written by human, not by AI"
      width="160"
    />
  </a>
</BlogPost>
