---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = (await getCollection('blog', (entry) => !entry.data.draft)).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout
  title="blog"
  description="blog about the making of maciej's projects and more"
>
  <section>
    <h2>My blog</h2>
    <ul class="post-list">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  section {
    text-align: center;
  }
</style>
