---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostList from '../../components/PostList.astro';
---

<BaseLayout
  title="blog"
  description="blog about the making of maciej's projects and more"
>
  <section>
    <h2>My blog</h2>
    <PostList />
  </section>
</BaseLayout>

<style>
  section {
    text-align: center;
  }
</style>
