/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
  display: flex;
  flex-direction: column;
  max-width: min(65ch, 90%);
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: #485870;
  color: #fff;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.8;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
  text-transform: lowercase;
}

a,
a:visited {
  color: #fff;
}

a:hover,
a:active {
  color: rgba(255, 255, 255, 0.4);
}

a:focus {
  outline: 2px solid #ccc;
  outline-offset: 3px;
}

p {
  text-align: left;
}

main {
  flex: 1 1 auto;
}

a:visited {
  color: unset;
}

ul {
  list-style-type: none;
  padding: unset;
}

ul li {
  display: flex;
  justify-content: center;
}

ul li::before {
  content: '-';
}

ul li time {
  flex: 0 0 112px;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
  background-color: #222;
}

pre {
  padding: 1rem;
}

pre > code {
  all: unset;
}

blockquote {
  border: 1px solid #999;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

article > time {
  display: block;
  width: 100%;
  text-align: center;
}

.cmr2-text {
  display: flex;
  justify-content: center;
  font-weight: normal;
  text-transform: lowercase;
  text-align: center;
  white-space: nowrap;
}

h1.cmr2-text {
  margin: 22px 0;
}

.cmr2-text > span,
.cmr2-text > a {
  border-left-width: 0.05em;
  border-left-style: solid;
  text-align: center;
}

.cmr2-text > span {
  border-left-color: #fff;
}

.cmr2-text > a {
  border-left-color: rgba(255, 255, 255, 0.4);
}

.cmr2-text > span {
  padding: 0 0.5em;
}

.cmr2-text > a {
  padding: 0.05em 0.7em;
}

.cmr2-text > span:first-of-type,
.cmr2-text > a:first-of-type {
  border-left: none;
}

.cmr2-text > a:hover,
.cmr2-text > a:focus {
  color: #fff;
}
