---
import BlogSubpage from '../../../layouts/BlogSubpage.astro';
import taxonomyDb from '../../../../.frontmatter/database/taxonomyDb.json';

const { categories } = taxonomyDb.taxonomy;
---

<BlogSubpage title="tags" description="all categories of maciej's blog posts">
  <ul>
    {
      categories.sort().map((category) => (
        <li>
          <a href={`/blog/categories/${encodeURIComponent(category)}`}>
            {category}
          </a>
        </li>
      ))
    }
  </ul>
</BlogSubpage>
