---
import BlogSubpage from '../../../layouts/BlogSubpage.astro';
import frontMatterConfig from '../../../../frontmatter.json';

const categories = frontMatterConfig['frontMatter.taxonomy.categories'];
---

<BlogSubpage title="tags" description="all categories of maciej's blog posts">
  <ul>
    {
      categories.sort().map((category) => (
        <li>
          <a href={`/blog/categories/${encodeURIComponent(category)}`}>
            {category}
          </a>
        </li>
      ))
    }
  </ul>
</BlogSubpage>
