html, body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	background-color: #408995;
	color: #fcfcff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 450px) {
	body {
		font-size: 36px;
	}
}

div {
	display: flex;
	align-items: center;
	padding: 0.25em;
	border-right: 0.0625em solid #fcfcff;
}

div:last-of-type {
	border-right: none;
	margin-right: 0.25em;
}
