---
import '@fontsource/roboto/400.css';

import { SITE_DESCRIPTION } from '../consts';
import PostList from '../components/PostList.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="home" description={SITE_DESCRIPTION}>
  <section>
    <h2>Welcome to my website</h2>
    <p>
      If you don't know how to pronounce my name, you can call me <strong
        >Mac</strong
      >. During the day, I'm a computer science student at <a
        href="https://pja.edu.pl/en">PJAIT in Warsaw</a
      >. After hours, I'm an aficionado of all things motorsport and house
      music.
    </p>
  </section>
  <section>
    <h3>My blog</h3>
    <p>
      Here I document the development of my personal projects and their inner
      workings. Check out the latest posts below:
    </p>
    <PostList limit={5} />
  </section>
  <section>
    <h3>Featured projects</h3>
    <ul>
      <li>
        <a
          href="https://spotifyplaylistarchive.com"
          target="_blank"
          rel="noopener noreferrer">Spotify Playlist Archive</a
        > - frontend for browsing the <a
          href="https://github.com/mackorone/spotify-playlist-archive"
          target="_blank"
          rel="noopener noreferrer">spotify-playlist-archive</a
        > GitHub repository, viewing specific snapshots of indexed playlists and
        their statistics
      </li>
      <li>
        <a
          href="https://github.com/maciejpedzich/playlist-entry-validator"
          target="_blank"
          rel="noopener noreferrer">Playlist Entry Validator</a
        > - GitHub bot for validating new playlist entries added via pull requests
        to the aforementioned archive repository
      </li>
      <li>
        <a
          href="https://sixdegs.maciejpedzi.ch"
          target="_blank"
          rel="noopener noreferrer">Six Degrees of F1</a
        > - website for visualising the shortest paths between two F1 drivers and
        their teammates
      </li>
    </ul>
  </section>
</BaseLayout>

<style>
  section {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    margin: 0 0 1rem 0;
  }
</style>
