---
import '@fontsource/roboto/400.css';

import { SITE_DESCRIPTION } from '../consts';
import PostList from '../components/PostList.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="home" description={SITE_DESCRIPTION}>
  <section>
    <h2>Welcome to my website</h2>
    <p>
      If you don't know how to pronounce my name, you can call me <strong
        >Mac</strong
      >. During the day, I'm a computer science student at <a
        href="https://pja.edu.pl/en">PJAIT in Warsaw</a
      >. After hours, I'm an aficionado of all things motorsport and house
      music.
    </p>
  </section>
  <section>
    <h3>My blog</h3>
    <p>
      Here I document the development of my personal projects and their inner
      workings. Check out the latest posts below:
    </p>
    <p>Test Coolify's automatic redeployment</p>
    <PostList limit={5} />
  </section>
</BaseLayout>

<style>
  section {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    margin: 0 0 1rem 0;
  }
</style>
