---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="links" description="links to all platforms mac is on">
  <h2>links</h2>
  <ul class="inline-list">
    <li>
      <a
        href="https://github.com/maciejpedzich"
        target="_blank"
        rel="noopener noreferrer">github</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/maciejpedzich"
        target="_blank"
        rel="noopener noreferrer">linkedin</a
      >
    </li>
    <li>
      <a
        href="https://twitter.com/maciejpedzich"
        target="_blank"
        rel="noopener noreferrer">twitter</a
      >
    </li>
    <li>
      <a
        href="https://notacult.social/@macindahaus"
        target="_blank"
        rel="noopener noreferrer">mastodon</a
      >
    </li>
    <li>
      <a
        href="https://open.spotify.com/user/jkmn666pyyh1kpn5367vt27l2?si=1d1d602e67ce4a9e"
        target="_blank"
        rel="noopener noreferrer">spotify</a
      >
    </li>
    <li>
      <a
        href="https://maciejpedzich.hashnode.dev"
        target="_blank"
        rel="noopener noreferrer">hashnode</a
      >
    </li>
  </ul>
</BaseLayout>

<style>
  h2 {
    text-align: center;
  }
</style>
