---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="uses"
  description="page describing mac's setup, ie. his computer's specs and peripherals"
>
  <h2>uses</h2>
  <p>This page contains a list of specs for my laptop and my peripherals</p>
  <h3>Laptop</h3>
  <p>It's an HP Omen 16 with the following specs:</p>
  <ul>
    <li><strong>CPU</strong>: AMD Ryzen 7 5800H</li>
    <li><strong>Discrete GPU</strong>: AMD Radeon RX 6600M</li>
    <li><strong>RAM</strong>: 32 GB SODIMM DDR4 @ 3200 MHz</li>
    <li><strong>Storage</strong>: 2 TB PCIe NVMe M.2 SSD</li>
    <!-- prettier-ignore -->
    <li>Display:
      <ul>
        <li><strong>Diagonal</strong>: 16.1 inches</li>
        <li><strong>Resolution</strong>: 1920x1080 pixels</li>
        <li><strong>Refresh Rate</strong>: 144 Hz</li>
      </ul>
    </li>
  </ul>
  <h3>Linux Stuff</h3>
  <ul>
    <li><strong>Distro</strong>: Arch Linux (btw.)</li>
    <li><strong>Desktop Environment</strong>: KDE Plasma</li>
    <li><strong>Display Manager</strong>: SDDM</li>
    <li><strong>Shell</strong>: zsh</li>
    <li><strong>Theme</strong>: Breeze Dark</li>
    <li><strong>Terminal Emulator</strong>: Konsole</li>
    <li><strong>Terminal Font</strong>: Hack Regular</li>
  </ul>
</BaseLayout>

<style>
  h2 {
    text-align: center;
  }
</style>
