---
import NavLink from './NavLink.astro';
---

<footer>
  <span>
    &copy; {new Date().getFullYear()}&nbsp;<span lang="pl">Maciej Pędzich</span>
  </span>
  <nav class="cmr2-text" aria-label="Social media links">
    <NavLink
      href="https://github.com/maciejpedzich"
      target="_blank"
      rel="noopener noreferrer">GitHub</NavLink
    >
    <NavLink
      href="https://git.maciejpedzi.ch/maciejpedzich"
      target="_blank"
      rel="noopener noreferrer">Gitea</NavLink
    >
    <NavLink
      href="https://www.linkedin.com/in/maciejpedzich"
      target="_blank"
      rel="noopener noreferrer">LinkedIn</NavLink
    >
  </nav>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1.5rem;
    padding: 1rem 0;
    border-top: 1px solid #fff;
    text-transform: lowercase;
  }

  @media only screen and (max-width: 625px) {
    footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
    }
  }
</style>
