---
import HeaderLink from './HeaderLink.astro';
---

<header>
  <span class="logo cmr2-text" lang="pl">
    <span>Maciej</span>
    <span>Pędzich</span>
  </span>
  <nav class="cmr2-text" aria-label="Site navigation">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/projects">Projects</HeaderLink>
    <HeaderLink href="/resume.pdf">Resume</HeaderLink>
    <HeaderLink href="/uses">Setup</HeaderLink>
    <HeaderLink href="/links">Links</HeaderLink>
    <HeaderLink href="mailto:contact@maciejpedzi.ch">Email me</HeaderLink>
  </nav>
</header>

<style>
  @media only screen and (max-width: 625px) {
    nav.cmr2-text {
      justify-content: left;
    }
  }

  nav.cmr2-text {
    line-height: 1.5;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  nav > a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }

  header {
    margin: 0em 0 2em;
  }

  h2 {
    margin: 0.5em 0;
  }

  .logo {
    font-size: 2rem;
    margin: 1.25rem 0;
  }

  .logo > span:last-of-type {
    border-left-width: 2px;
  }
</style>
