---
import NavLink from './NavLink.astro';
---

<header>
  <span class="logo cmr2-text" lang="pl">
    <span>Maciej</span>
    <span>Pędzich</span>
  </span>
  <nav class="cmr2-text" aria-label="Site navigation">
    <NavLink href="/">Home</NavLink>
    <NavLink href="/blog">Blog</NavLink>
    <NavLink href="/projects">Projects (404)</NavLink>
    <NavLink href="/resume.pdf">Resume (404)</NavLink>
    <NavLink href="/uses">Setup</NavLink>
    <NavLink href="/links">Links</NavLink>
    <NavLink href="mailto:contact@maciejpedzi.ch">Email me</NavLink>
  </nav>
</header>

<style>
  h2 {
    margin: 0.5em 0;
  }

  .logo {
    font-size: 2rem;
    margin: 1.25rem 0;
  }

  .logo > span:last-of-type {
    border-left-width: 2px;
  }
</style>
