---
import { CollectionEntry, getCollection } from 'astro:content';

export interface Props {
  filterFn?: (entry: CollectionEntry<'blog'>) => unknown;
}

const defaultFilterFn = (entry: CollectionEntry<'blog'>) => true;
const { filterFn = defaultFilterFn } = Astro.props;

const posts = (
  await getCollection(
    'blog',
    (entry) => filterFn(entry) && (import.meta.env.DEV || !entry.data.draft)
  )
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

{
  posts.length === 0 ? (
    <p id="no-posts-found">No posts were found...</p>
  ) : (
    <ul class="post-list">
      {posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  )
}

<style>
  #no-posts-found {
    text-align: center;
  }
</style>
