---
import BlogSubpage from '../../../layouts/BlogSubpage.astro';
import taxonomyDb from '../../../../.frontmatter/database/taxonomyDb.json';

const { tags } = taxonomyDb.taxonomy;
---

<BlogSubpage title="tags" description="all tags of maciej's blog posts">
  <ul class="inline-list">
    {
      tags.sort().map((tag) => (
        <li>
          <a href={`/blog/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</BlogSubpage>
